.GameView {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
}

.GameView-content {
    flex: 0 1 100%;
    align-self: auto;
    order: 0;
}

.GameView-item {
    text-align: center;
    text-decoration: none;
    color: #333;
}

.GameView-item-title {
    text-align: center;
    font-weight: bold;
    margin: 12px 0px;
}

.GameView-item-poster {
    text-align: center;
    height: 500px;
    width: 375px;
}

.GameView-item-date {
    text-align: center;
    margin: 8px 0 4px 0;
}

.GameView-item-from {
    text-align: center;
    margin: 8px 0 4px 0;
}

.GameView-comments-wrapper {
    text-align: center;
}

.GameView-comments {
    text-align: center;
}

.GameView-comments-title, .GameView-comments-form-title {
    text-align: center;
    margin: 20px 0px 20px 0px;
    border: 2px solid #eee;
    padding: 8px;
    border-radius: 5px;
}

.GameView-comments-form {
    text-align: center;
}

.GameView-comment {
    text-align: center;
}

.GameView-comment::before {
    content: "";
    display: block;
	clear: both;
    padding: 0;
    border: 0;
    font-family: arial;
    text-align: center;
    font-size: 2px;
    line-height: 2;
    height: 2px;
    width: auto;
    margin: 20px 4px;
    color: #eee;
    background-color: #eee;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.GameView-comment:first-of-type::before {
    display: none;
    visibility: hidden;
}

.GameView-comment-author {
    text-align: center;
}

.GameView-comment-text {
    text-align: center;
}
