.GameList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
}


.GameList-content {
    flex: 0 1 100%;
    align-self: auto;
    order: 0;
}

.GameList-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
}

.GameList-col {
    flex: 0 1 50%;
    align-self: auto;
    order: 0;
    /*padding: 6px;
    margin: 10px;*/
}

.GameList-col:hover {
    text-align: center;
    /*background-color: lightgray;*/
}

.GameList-item {
    text-align: center;
    text-decoration: none;
    color: #333;
}

.GameList-item:hover {
    text-decoration: none;
}

.GameList-item-title {
    text-align: center;
    font-weight: bold;
    margin: 12px 0px;
}

.GameList-item-poster {
    text-align: center;
    max-width: 100%;
    height: 55vh;
}

.GameList-item-date {
    text-align: center;
    margin: 8px 0 4px 0;
}

.GameList-item-from {
    text-align: center;
    margin: 8px 0 4px 0;
}