.GameView {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
}

.GameView-content {
    flex: 0 1 100%;
    align-self: auto;
    order: 0;
}

.GameView-item {
    text-align: center;
    text-decoration: none;
    color: #333;
}

.GameView-item-title {
    text-align: center;
    font-weight: bold;
    margin: 12px 0px;
}

.GameView-item-poster {
    text-align: center;
    max-width: 100%;
    height: 60vh;
}

.GameView-item-date {
    text-align: center;
    margin: 8px 0 4px 0;
}

.GameView-item-from {
    text-align: center;
    margin: 8px 0 4px 0;
}

.GameView-comments-wrapper {
    text-align: center;
}

.GameView-comments {
    text-align: center;
}

.GameView-comments-form {
    text-align: center;
}

.GameView-comment {
    text-align: center;
}

.GameView-comment-author {
    text-align: center;
}

.GameView-comment-text {
    text-align: center;
}
